version: "3.9"

services:
  api:
    build: ./backend
    container_name: mini-api
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: mini-frontend
    ports:
      - "8080:8080"
    depends_on:
      - api
